$font-size-title: 32px;
$font-size-large: 24px;
$font-size: 18px;
$font-size-small: 12px;

$black: #000000;
$dark-grey: #333333;
$green: #33DD33;
$light-grey: #EEEEEE;
$white: #FFFFFF;
$alpha: 0.8;

.game-over {
    background-color: rgba($dark-grey, $alpha);
    color: $light-grey;
    display: flex;
    flex-direction: column;
    font-size: $font-size-large;
    height: 100%;
    justify-content: center;
    margin: 0px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0px;
    width: 100%;
    &.hidden{
        display: none;
    }
}

.title {
    font-size: $font-size-title;
    font-family: 'monospace';
    margin: 20px auto;
    flex: 1;

}

.points {
    @extend .title;
    flex: 1;
}

.new-game{
    background-color: $green;
    box-shadow: 1px 2px 3px $black;
    color: $white;
    display: block;
    margin: 20px auto;
    text-transform: uppercase;
    width: 120px;
    height: 30px;
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    .new-game {
        @extend .new-game;
        flex: 1;
        margin: 20px auto;
    }
}

.main{
    display: flex;
    justify-content: center;
}

